.home_container {
    background-image: url('/public/background1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;

}
.img1_container Img{
    margin: 4rem 3rem;
    width: 350px;
    height: 600px;
}
.img2_container Img{
    margin: 4rem 3rem;
    width: 300px;
    height: 400px;
}
.text_container p{
  margin-top: 6rem;
  color: rgb(217, 225, 72);
  font-size: 40px;
  font-family:'Courier New', Courier, monospace;
  width: fit-content;
}

/*Mobile View*/
@media (max-width:989px){
.home_container{
    display: grid;
    gap: 10px;
    width: fit-content;
}
.text_container p{
    margin: 0rem 0.6rem;
}
.home_container {
  display: flex;
  flex-wrap: wrap;         
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 16px;

}
.home_container img{
    width: 100%;
    max-width: 280px;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
}
}

/* background-image: url('/public/background1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    max-width: 100%;
    display: flex;
    flex-direction: row; */