.home_container {
    background-image: url('/public/background1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;

}
.img1_container Img{
    margin: 4rem 3rem;
    width: 350px;
    height: 600px;
}
.img2_container Img{
    margin: 4rem 3rem;
    width: 300px;
    height: 400px;
}
.text_container p{
  margin-top: 6rem;
  color: rgb(165, 58, 23);
  font-size: 40px;
  font-family:'Courier New', Courier, monospace;
  width: fit-content;
}

/*Mobile View*/
@media (max-width:768px){
.home_container{
    display: grid;
    gap: 10px;
    width: fit-content;
}
.text_container p{
    margin: 0rem 0.6rem;
}
}