.login_main_container{
    background-image: url(../../public/img4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.login_container{
    background-color:rgba(248, 165, 165,0.40) ; 
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 25px;
    gap: 10px;
    border-radius: 10px;
    margin-top: 6rem;
    box-shadow: 10px 12px 16px grey;
}
.input input{
    font-size: 20px;
    height: 25px;
}
.btn button{
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: palegreen;
    outline: none;
    border-radius: 6px;
}

/**/