.login_main_container{
    background-image: url(../../public/img4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    min-width: 420px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.login_container{
    background-color:rgba(248, 165, 165,0.40) ; 
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 25px;
    gap: 10px;
    border-radius: 10px;
    margin-top: 6rem;
    box-shadow: 10px 12px 16px grey;
}
.input input{
    font-size: 20px;
    height: 25px;
}
.btn button{
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: palegreen;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
}
.login-msg{
    font-size: 15px;
    font-style: italic;
    color: rgba(56, 37, 107, 0.885);
}

/*mobile view*/
@media (max-width:768px){
 .login_main_container{
    width: 100%;
    min-width: 420px;
 }
 .login_container{
    margin-left: 1rem;
    width: 80%;
 }
 .input input{
    width: 50%;
    font-size: 20px;
    height: 25px;
}
.login-msg{
    font-size: 15px;
    font-style: italic;
    color:rgba(56, 37, 107, 0.885);
}
}