.navbar {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: rgb(225, 91, 86);
    position: fixed;
    gap: 40px;
    padding-left: 10px;
    align-items: center;
}
.list_items{
  display: flex;
  gap: 20px;
}

 .list_items a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-decoration: none;
    color: antiquewhite;
}
 .navbar .title{
  font-weight: 800;
  font-size: 36px;
  margin-left: 10rem;
  color: rgb(54, 32, 4);
}
span.title{
  display: inline;
  flex:none;
}
.navbar .nav_btn{
    margin-left: 34rem;
}
.navbar .nav_btn{
    outline: none;
    border-radius: 5px;
    background-color: rgb(229, 251, 152);
    padding: 5px;
    cursor: pointer;
}

.hamburger_icon{
  display: none;
  cursor: pointer;
}

/*  MOBILE VIEW */
@media (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width:650px;
    height: 56px;
    padding: 6px 2px;
    background-color: rgb(254, 132, 132);
  } 
  .list_items{
    position: inherit;
    display: none;   /* first time false so listitems not visible bcz this execute but display none so not visible*/
    flex-direction: column;
    align-items: baseline;
    gap: 10px;
    max-width:580px;
    height: 130px;
    margin: 4rem;
    margin-left: 24rem;
    padding: 6px;
    background-color: rgba(238, 242, 238, 0.57);
  }
  .list_items a{
    color: black;
  }
  .navbar .title{
    position:inherit;
    margin-left: -6rem;
  }
 .navbar .nav_btn{
  position: inherit;
    margin-right:12rem;
    background-color: rgb(228, 245, 153);
  }
  .hamburger_icon{
    position: inherit;
    display: block;
   cursor: pointer;
   margin: 2rem;
   margin-left: 23rem;
}
.list_items.open{
  display: flex; /* whenever click 3lines it is execute (display flex so visible) and open listitems*/
}
}