.register_main_container{
    display: flex;
    flex-direction: row;
    gap: 6rem;
    margin-top: 2rem;
}
.form_container{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(196, 204, 249);
    width: 400px;
    height: fit-content;
    border-radius: 10px;
    gap: 20px;
    padding-bottom: 15px;
}
.form_container h3{
    font-size: 25px;
}
.form_container input,textarea{
    width: 300px;
    font-size: 25px;
    outline: none;
    background-color: rgb(196, 204, 249);
    border-left: none;
    border-top: none;
    border-right: none;
    border-radius: 3px;
    color: rgb(11, 11, 11);
}
.form_container textarea{
    width: 300px;
}
.form_container button{
    border-radius: 5px;
    outline: none;
    font-size: 23px;
    background-color: rgb(242, 245, 154);
}
input::placeholder{
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text1 p{
    color: brown;
    font-size: 25px;
    max-width: 450px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    margin:5rem 1rem;
}
.img1_con Img{
    width: 400px;
    height: 675px;
}

/*Mobile View*/
@media (max-width:768px){
.register_main_container{
    display: grid;
    gap: 10px;
}
.form_container {
    margin: 0rem 1rem;
}
.img1_con{
    margin: 0rem 1rem;
}
}