
.get_container{
    display: flex;
    flex-direction: column;
    justify-content:baseline;
    margin-top: 4rem;
    gap: 10px;
}
.get_btn_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}
.get_btn{
    font-size: 23px;
    background-color: rgb(134, 237, 185);
    padding: 5px;
    border-radius: 5px;
    width: auto;
    height: 38px;
    margin: 0rem 0rem;
    cursor: pointer;
}
.table_container{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    margin: 1rem 2rem;
}
.table{
    background-color: antiquewhite;
    border: 2px solid black;
    border-collapse: collapse;
    width: fit-content;
    height: auto;
    overflow: hidden;
}
th{
    border-bottom: 2px solid #ccc;
    padding: 10px;
    text-align: left;
    font-weight: bold;
    font-size: larger;
    max-width: 100px;

}
td{
    border-bottom: 2px solid #ddd;
    padding: 10px;
    font-size: small;
    max-width: 100px;

}
tr{
    background-color: #fff;
}

td button {
    background-color: rgb(177, 217, 238);
    border-radius: 14px;
    font-size: 15px;
    padding: 5px;
    cursor: pointer;
}
tr .sn{
    color: rgb(200, 32, 32);
}
tr .nm{
    color: rgb(188, 127, 37);
    font-weight: 600;
}
tr .bg{
    color:rgb(103, 50, 207);
    font-weight: 600;
}
tr .ag{
    color: rgb(172, 179, 34);
}
tr .wt{
    color:rgb(30, 152, 19);
}
tr .mn{
    color: rgb(148, 16, 117);
}
tr .lc{
    color:rgb(152, 44, 19);
}
tr .bt{
    color: rgb(89, 156, 189);
}

/* mobile view */
@media (max-width:768px){
    .table_container{
        margin: 4rem 0.5rem;
    }
    .get_btn_container{
        margin-left: -4rem;
        margin-top: 1rem;
        position: fixed;
    }
    .get_btn{
        cursor: pointer;
    }
    .get_container h4{
        margin-top:-1rem;
    }
    .table{
        font-size: 8px;
    }
    tr th{
        font-size: 9px;
        width: fit-content;
    }
    td{
        font-size: 8px;
        font-weight: 600;
    }
    td button {
    background-color: rgb(177, 217, 238);
    border-radius: 8px;
    font-size: 8px;
    padding: 2px;
    cursor: pointer;
}
}